body {
    background: url("../images/bg-cover-md.jpg");
    background-size: cover;

}

/*Style section to add a Sidebar and its button*/

.sidebar-wrapper{
	display:flex;
}

.sidebar {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-style: solid;
	border-width: 0px 2px 0px 0px;
	border-color: whitesmoke;	
	font-weight: bold;	
  }
  
  .sidebar-toggle-btn {
	  height:132px;
	  width:40px;
	  background-color: dodgerblue;
	  color: white;
	  font-weight: 600;
	  position: fixed;
	  top: 50%;
	  left: 0px;
	  border-radius: 0px 25px 25px 0px; 
	  border-style: solid;
	  border-width: 3px 3px 3px 0px;
	  border-color: white;
	  cursor: pointer;
  }

  .sidebar-toggle-btn:hover {
	  transition: 0.5s;
	  background-color: white;
	  border-style: solid;
	  border-width: 3px 3px 3px 0px;
	  border-color: dodgerblue;
  }

  .sidebar-toggle-btn:hover div{
	  color: black;
  }

  .toggle-icon{
	  transition: 0.5s ease-in-out;
	  position:	absolute;
	  top:36%;  
	  left: 8px;
  }

  .sidebar-link-wrapper a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.5s;
  }

  .sidebar-link-wrapper a:hover {
	color: black;
  }
  
  .channel-list-header{
	font-size: 25px;
  }
  
  .channel-link{
	  font-size: 16px;
	  padding: 5px;
  }

  .arrow {
	border: solid #818181;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
  }
  
  .right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }

  /*Chatbox styles*/
  #channel-1{
	 border: 0px 0px 0px 4px solid dodgerblue;
	 color:"black";
  }

/* Style for elements to be used for Jumbotron */
.jumbotron{
	background:rgba(255,250,250, 0.92);
	color: black;	
	border-radius:0px 0px 6px 6px;
	box-shadow: 0px 3px Lightgrey;

}

/* Style for Horizontal ruler used inside Jumbotron */
hr {
    border-top: 1px solid DodgerBlue;
}

/* Style for Head elements */
.head-wrapper {
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 14px;
}

/* Style for Form elements */
.form-btn-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.accordion-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin-top: 10px;
}

.row {
    padding: 20px;
}

/*Style for Select File and Upload file button inside the Form*/
#select-file-wrapper{
    padding: 10px;
    background-color: red; 
    display: table;
	color: #fff;
	border-radius: 6px;
	width: 30%;
	font-family: 'Abel', sans-serif;
	float:left;
    cursor: pointer;
    font-weight: 600;
	
}

#selected-file-count{
	margin: 12px;
	background-color: red;
	color: whitesmoke;
	padding: 6px;
}

#select-file-wrapper:hover{
    transition: 0.5s;
    background-color: orangered;    
}

#file-select{
    display: none;
}

#upload-file-wrapper{
	padding: 10px;
    background-color: deepskyblue; 
    display: table;
	color: #fff;
	border-radius: 6px;
	width: 30%;
	font-family: 'Abel', sans-serif;
    float:left;
    font-weight: 600;
	cursor: pointer;
}

#file-upload{
	display: none;
	color: white;	
}

#upload-file-wrapper:hover{
    transition: 0.5s;
    background-color: dodgerblue;
}


/*Style for Accordion contents*/
.accordion-wrapper{
    font-family: 'Abel', sans-serif;
}

.accordion-wrapper{
    font-family: 'Abel', sans-serif;
}

#collapse-title1,
#collapse-title2,
.user-name{
    float: left;
    display: inline;
}

#collapse-link1,
#collapse-link2{
    float: right;

}

#message-bdg-count {
    background-color: Tomato;
    color: white;
    border: 1px solid grey;
    border-radius: 14px;
}

.user-name {
    color: MediumSeaGreen;
}