body{
    margin:0;
    background-image: url('images/bg-cover-md.jpg');
    background-size: cover;
}

/*style for Sidebar*/
.sidebar-wrapper{
	display:flex;
}

.sidebar {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-style: solid;
	border-width: 0px 2px 0px 0px;
	border-color: whitesmoke;	
	font-weight: bold;	
  }
  
  .sidebar-toggle-btn {
	  height:82px;
	  width:40px;
	  background-color: dodgerblue;
	  color: white;
	  font-weight: 600;
	  position: fixed;
	  top: 50%;
	  left: 0px;
	  border-radius: 0px 25px 25px 0px; 
	  border-style: solid;
	  border-width: 3px 3px 3px 0px;
	  border-color: white;
	  cursor: pointer;
  }

  .sidebar-toggle-btn:hover {
	  transition: 0.5s;
	  background-color: white;
	  border-style: solid;
	  border-width: 3px 3px 3px 0px;
	  border-color: dodgerblue;
  }

  .sidebar-toggle-btn:hover div{
	  color: black;
  }

  .toggle-icon{
	  transition: 0.5s ease-in-out;
	  position:	absolute;
	  top:36%;  
	  left: 8px;
  }

  .sidebar-link-wrapper a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.5s;
  }

  .sidebar-link-wrapper a:hover {
	color: black;
  }
  
  .channel-list-header{
	font-size: 25px;
  }

  #channel-list{
	  height:0px;
	
  }
  
  .channel-link{
	  font-size: 16px;
	  padding: 5px;
  }

  .arrow {
	border: solid #818181;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
  }
  
  .right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }

  /*Chatbox styles*/
  #channel-1{
	 border: 0px 0px 0px 4px solid dodgerblue;
	 color:"black";
  }



/*Styles for Header-Wrapper*/
.header-wrapper{
    display: flex;   
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
    padding:20px;
    border-radius:2px;
    background-color: whitesmoke; opacity:0.9;
}

.horizontal-line{
    width:100%;
    background-color:deepskyblue;
    height: 2px;
    border-radius: 50px;
    
}


/*Styles for Navigation panel*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: silver;  
    padding: 18px;    
    color:white;
    font-size: 18px;
}

.nav-link-wrapper{
    display:flex;     
}

.nav-link-wrapper a{
    text-decoration: none; 
    color:white;
}

.home, .about{
	margin-right: 20px;
	
}

.about{
    padding-top: 5px;
}


/*Style for File upload Form*/
.form-wrapper{
	display:grid;
	grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
	height: 250px;
	padding:20px;
	margin-top:40px;	
}

.form-content-wrapper{
	background-image:url(images/black-bar.png);
	border-radius: 20px;
	padding: 20px;
	display:flex;	
	align-items: center;
    justify-content: center;

	
}

.file-upload{
	color: white;
	display:grid;
	grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
	padding:40px;
	
}


/*Style for Select File and Upload file button inside the Form*/
#select-file-wrapper{
    padding: 10px;
    background-color: red; 
    display: table;
	color: #fff;
	border-radius: 6px;
	width: 180px;
	height: 30px;
	font-family: 'Abel', sans-serif;
	float:left;
    cursor: pointer;
	font-weight: 600;
	
}

#selected-file-count{
	margin: 12px;
	background-color: red;
	color: whitesmoke;
	padding: 6px;
	display:none;
}

#select-file-wrapper:hover{
    transition: 0.5s;
    background-color: orangered;    
}

#file-select{
    display: none;
}

#upload-file-wrapper{
	padding: 10px;
    background-color: deepskyblue; 
    display: table;
	color: #fff;
	border-radius: 6px;
	width: 180px;
	height:30px;
	font-family: 'Abel', sans-serif;
    float:left;
    font-weight: 600;
	cursor: pointer;
}

#file-upload{
	display: none;
	color: white;	
}

#upload-file-wrapper:hover{
    transition: 0.5s;
    background-color: dodgerblue;
}